@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    /* font-family: hero-new, sans-serif; */
    font-family: 'Poppins', sans-serif;
    background-color: #f3f6f8;
    font-weight:unset;
}
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
    background-color: #f3f6f8;
} */

.nav-bar-1{
    display: flex;
    justify-content: space-between;
    background-color: #f4f6f6;
    cursor: pointer;
    
    
}
.left-1{
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 80%;
    
}
.left-1>img{
    margin-left: 210px;
}
.left-2>img{
    margin-left: 70px;
}
.menu-main>li>a{
    background-color:#f3f6f8 ;
    text-decoration: none;
    color: black;
   
}
.container1{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 70%;
    margin: auto;
    background-color:#f3f6f8 ;
    position: relative;
}
.menu-sub{
    position: absolute;
    width: 130%;
    display: none;
    /* border: 1px solid; */
    z-index: 5;
    left: 0;
    /* margin-top: 15px; */
    
}
.third{
    margin-left: 30px;
}

.third>img{
    width: 150px;
}
.two-grid{
    width: 10%;
    margin: 0px 50px;
    background-color: white;
}
.icon{
    margin: 10px;
    margin-top: 15px;
    background-color: white;
}
.icon-text{
    margin-left: 10px;
    margin-top: -3px;
    background-color: white;
    width: 130px;
}
.mini-feature{
    display: flex;
    margin-bottom: 30px;
    background-color: white;
}
.mini-feature:hover {
    padding: 7px;
}
.featured{
    background-color: white;
}
.featured>h4{
    background-color: white;
}

.mini-feature>div:nth-child(2){
    margin-left: 20px;
    margin-top: -12px;
    line-height: 15px;
    font-size: 14px;
    background-color: white;
}
.mini-feature>div:nth-child(2)>p{
    background-color: white;
}
.icon-text>h4{
    font-size: 14px;
    background-color: white;
}
.icon-text>p{
    font-size: 12px;
    background-color: white;
    color: gray;
}
.flexy{
    display: flex;
    background-color: white;
    width: 300px;
    cursor: pointer;
}
.flexy:hover{
    padding-left: 7px;
    
}
.img-size:hover{
    padding-left: 7px;
}
.six-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    font-size: 13px;
    background-color: white;
    padding: 10px;
}
.six-grid1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    font-size: 13px;
    background-color: white;
    padding: 10px;
}

.six-grid>div:hover{
    padding-left: 5px;
}
.six-grid>div{
    background-color: white;
}
.six-grid>div>p{
    color: gray;
    background-color: white;
}
.mid-img{
    display: flex;
    background-color: white;
}
.third{
    background-color: white;
    padding: 10px;
}
.mid-img>p{
    font-size: 16px;
    background-color: white;
}
.mid-img>img{
    width: 40px;
    margin-right: 15px;
    background-color: white;
}
.img-size>img{
    width: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 25px;
    background-color: white;

}
.logo-nav>h4{
    background-color: white;
}
.img-size{
    display: flex;
    background-color: white;
    cursor: pointer;
}
.img-size>p{
    margin-left: 20px;
    margin-top: -1px;
    background-color: white;
}
.third>h5{
    font-size: 14px;
    background-color: white;
}
.third>p{
    font-size: 12px;
    line-height: 13px;
    color: gray;
    background-color: white;
}
.first-One>h4{
    font-size: 14px;
    background-color: white;
}
.logo-nav{
    margin-left: 100px;
    background-color: white;
}
.first-One{
    margin-right: 30px;
    background-color: white;
}
.first-One>p{
    font-size: 12px;
    color: gray;
    background-color: white;
}
.cs-part-1{
    display: flex;
    padding: 30px 90px;
    background-color: white;
    
}
.cs-part-2{
    display: flex;
    background-color: white;
    padding: 30px 10px;
    position: absolute;
    z-index: 1;
}
.menu-main>li:hover{
    background-color: #e2434b;
}
.menu-main>li:hover .menu-sub{
    display: block;
}
.menu-main1>li:hover{
    background-color: #e2434b;
}
.menu-main1>li:hover .menu-sub{
    display: block;
}

.menu-main{
    display: flex;
    justify-content: space-around;
    background-color:#f3f6f8 ;
}
.menu-main1{
    display: flex;
    justify-content: space-around;
    background-color:#f3f6f8 ;
}
.menu-main1>li{
    margin-left: 50px;
    
}
.menu-main1>li>a{
    background-color:#f3f6f8 ;
    text-decoration: none;
    color: #212121;
}
.right-1{
    margin-right: 100px;
    margin-top: 15px;
    
    
}
.right-1>a:hover{
    color: #e2434b;
    
}
.right-1>a{
    background-color:#f3f6f8;
    text-decoration: none;
    color: #24262b;
}
.nav-bar-2{
    display: flex;
    justify-content: space-between;
    position: sticky ;
    top: 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    z-index: 1;
}
.left-2{
    display: flex;
    justify-content: space-evenly;
    
    width: 80%;
}
.right-2{
    padding-right: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 3px;
    
}
.right-2 >button{
    font-size: 15px;
    background-color: #ff6200 ;
    color: white;
    height: 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    
}
.right-2 >button:hover{
    background-color: #FF8A65;
}

.left-2>img{
    display: block;
    width: 130px;
    cursor: pointer;
}
.body-part-1{
    text-align: center;
    width: 45%;
    margin: auto;
    
}
.body-part-1 >h1{
    font-size: 48px;
    font-weight:unset;
    
}
.body-part-1>p{
    color: grey;
    font-size: 16px;
    
}
input[type="email"]{
    width: 250px;
    height: 48px;
    padding: 0 25px;
    border-radius: 10px 0 0 10px;
    border: 1px solid #f16631;
    
    
    
}
.body-part-1>form>input[type="submit"]{
    width: 150px;
    height: 50px;
    /* position: relative;
    left: -5px; */
    border-radius: 0 10px 10px 0;
    background-color: #f16631;
    border: none;
    color: white;
    font-size: 17px;
    margin-left: -5px;
    cursor: pointer;
    
}
.body-part-1>form>input[type="submit"]:hover{
    background-color: #FF8A65;
}
form{
    margin-top: 40px;
}
#video{
    height: 600px;
    width: 70%;
    /* position: relative; */
    margin: auto;
    margin-top: 60px;
}
#video >iframe{
    /* position: absolute;
    top: 0px; */
    width: 100%;
    height: 100%;
}
#body-part-2{
    text-align: center;
    margin-top: 100px;
    background-color: white;
    padding-bottom: 100px;
}
#body-part-2 > h2{
    font-size: 38px;
    font-weight:unset;
    background-color: white;
}
#body-part-2 > h2+p{
    color: grey;
    line-height: 25px;
    background-color: white;
}
#body-part-2 >button{
    width: 180px;
    height: 50px;
    font-size: 17px;
    border-radius: 10px;
    margin-top: 20px;
    background-color: white;
    cursor: pointer;
}
#body-part-2 >button:hover{
    background-color:#ef6c35;
    border: none;
    color: white;
}
#body-part-2>img{
    background-color: white;
}
#body-part-3{
    text-align: center;
    margin-top: 70px;
    font-weight: unset;
    padding-bottom: 70px;
    font-size: 20px;
}
.img-w{
    display: flex;
    justify-content: space-evenly;
    
}
.img-w>img{
    display: block;
    width: 100px;
}
.img-w>img:nth-child(1){
    width: 90px;
    height: 30px;
    padding-top: 28px;
    
}
#body-part-4{
    text-align: center;
    background-color: white;
    padding: 80px 0px 60px 0px ;

}

#body-part-4 >p{
    color: grey;
    line-height: 25px;
    background-color: white;
}
#body-part-4 >h1{
    background-color: white;
}
#body-part-5{
    width: 90%;
    margin: auto;
    
}
#part-1{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 10px;
    color: gray;
}
#part-2{
    display: flex;
    justify-content: space-around;
}
#part-3>h3{
    padding-top: 90px;
}
#part-2>img{
    width: 40%;
}
#part-3{
    width: 40%;
}
#part-3 >p{
    color: gray;
    line-height: 10px;
}

.button{
    text-align: center;
}
.button>input:nth-child(1){
    height: 45px;
    background-color: #323643;
    color: white;
    padding: 5px 25px;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.button>input:nth-child(1):hover{
    background-color: white;
    color: black;
    border: 1px solid;
    cursor: pointer;
}
.button>input:nth-child(2){
    height: 45px;
    background-color: #f16631;
    color: white;
    padding: 5px 25px;
    border-radius: 6px;
    border: none;
    margin-left: 100px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.button>input:nth-child(2):hover{
    background-color: #FF8A65;
}
#card{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* grid-template-rows: repeat(2,200px); */
    gap: 50px;
    width:80%;
    margin: auto;
    background-color: #20232d;
}
#body-part-6{
    text-align: center;
    margin-top: 50px;
    
    
    background-color: #20232d;
}
#body-part-6>h2{
    background-color: #20232d;
    color: white;
    font-size: 30px;
}
.box{
    display: flex;
    padding: 20px;
    
    justify-content: space-between;
    background-color: #1e212b
}
.box:hover{
    cursor: pointer;
    background-color: #212121;
    padding-left: 10px;
}

.box>div:nth-child(2){
    padding:10px 0px ;
    background-color: #1e212b
}

.box>div:nth-child(1){
    padding: 30px;
    background-color: #1e212b
}
.box>div:nth-child(2)>h3{
    background-color: #1f222b;
    color:white
}

.box>div:nth-child(2)>h3+p{
    background-color: #1e212b;
    
    color: grey;
}

.box>div:nth-child(1)>img{
    background-color: #1e212b
}

.button1{
    background-color: #20232d;
}
.button1>input:nth-child(1){
    height: 45px;
    background-color: white;
    color: black;
    padding: 5px 25px;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.button1>input:nth-child(1):hover{
    background-color: #323643;
    color: white;
    border: 1px solid;
    cursor: pointer;
}
.button1>input:nth-child(2){
    height: 45px;
    background-color: #f16631;
    color: white;
    padding: 5px 25px;
    border-radius: 6px;
    border: none;
    margin-left: 100px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.button1>input:nth-child(2):hover{
    background-color: #FF8A65;
}
#body-part-7{
    text-align: center;
    width: 90%;
    margin: auto;
    
}
#body-part-7>h1:nth-child(2){
    font-weight:bolder
}
#help-desk{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,auto);
    gap: 30px;
    row-gap: 50px;
    margin-top: 80px;
    
}
.child-help-disk{
    display: flex;
    margin: auto;
    justify-content: space-around;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 80%;
    cursor: pointer;
}
.child-help-disk>div{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    background-color: white;
}
.child-help-disk>img{
    
    padding-bottom: 50px;
    background-color: white;
}

.child-help-disk>div>h3{
    padding-top: 25px;
    background-color: white;
}
.child-help-disk>div>p{
    background-color: white;
    padding-right: 50px;
}
.child-help-disk:nth-child(1){
    border-top: 7px solid #e2434b ;
}
.child-help-disk:nth-child(2){
    border-top: 7px solid #08c299 ;
    /* padding-bottom: 30px; */
}
.child-help-disk:nth-child(3){
    border-top: 7px solid #429ffd ;
    /* padding-bottom: 30px; */
}
.child-help-disk:nth-child(4){
    border-top: 7px solid #ef6c35 ;
}
#bot{
    margin-top: 50px;
    height: 45px;
    text-align: center;
    background-color: #f16631;
    color: white;
    padding: 5px 25px;
    border-radius: 6px;
    border: none;
    margin-left: 100px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-left: -18px;
}
#bot:hover{
    background-color: #FF8A65;
}
#logo-img{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(2,180px);
    row-gap: 40px;
    column-gap: 25px;
    width: 80%;
    margin: auto;
    margin-top: 90px;
}
.logo{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    
}
.logo:hover{
    padding-left: 15px ;
}
.logo>img{
    width: 20%;
}
#body-part-8{
    margin: 50px;
    text-align: center;
}
.carousel-cell{
    width: 80%;
    height: 500px;
  margin-right: 10px;
  
  
}
.carousel-cell:before{
    display: block;
    text-align: center;
    
}
.card_details{
    text-align: left;
    width: 60%;
    padding: 30px;
    height: 400px;
}

#body-part-9{
    text-align: center;
    margin: 70px ;
}
.end{
    display: flex;
    justify-content: space-between;
}
.end>div:nth-child(2)>img{
    width: 100px;
}
.end>div:nth-child(1)>p{
     color: gray;
}

.carousel{
    margin-bottom: 100px; 
}
.card_details>p{
    line-height: 35px;
    color: gray;
}
.container{
	max-width: 1170px;
	margin:auto;
    background-color: #24262b;
}
.row{
	display: flex;
	flex-wrap: wrap;
    background-color: #24262b;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 20%;
   padding: 0 15px;
   background-color: #24262b;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
    background-color: #24262b;
    margin-left: 33px;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
ul{
    background-color: #24262b;
}
a{
    background-color: #24262b;
    
}
hr{
    width: 85%;
    border: 1px solid gray;
    margin-top: 30px;
}
#pointer-1{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    background-color: #24262b;
    
}
#pointer-1>div>img{
    background-color: #24262b;
    margin-top: 25px;
    cursor: pointer;
}
#pointer-1>div>img+a{
    background-color: #24262b;
    color: white;
    padding-left: 10px;
    
    text-transform: capitalize;
    text-decoration: none;

}
#pointer-1>div{
    background-color: #24262b;
}
#last-part{
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: auto;
    background-color: #24262b;
}
.first{
    display: flex;
    justify-content: space-evenly;
    width: 35%;
    background-color: #24262b;
}
#left-one{
    background-color: #24262b;
    margin-top: 15px;
}
#left-one >img{
    background-color: #24262b;
}
#left-one ~p{
    background-color: #24262b;
    color: gray;
}
#left-one >select{
    background-color: #24262b;
    color: grey;
}
#left-one >select>option{
    background-color: #24262b;
    color: gray;
}
.second>img{
    background-color: #24262b;
    margin-right: 15px;
}
#copyright{
    background-color: #24262b;
    color: gray;
}
.second{
    background-color: #24262b;
    margin-top: 15px;
}
#last{
    background-color: #24262b;
}